@import "globals.scss";

.home__section {
  @include default-wrapper-width();
}

.home__section-featured, .home__section-latest, .home__grid__inner {
  @include slow-transitions(opacity);
  opacity: 0;

  &.home--visible {
    opacity: 1;
  }
}

.home__grid {
  hr {
    border: 0;
    border-top: 1px solid $color-black;
    display: block;
    height: 2px;
    padding: 0;
  }
}

.home__grid__inner {
  @include default-wrapper-width();
  display: flex;
  flex-wrap: wrap;

  @media #{$medium-and-up} {
    width: calc(#{$medium-and-up-inner-width} + 24px);
  }

  @media #{$large-and-up} {
    max-width: calc(#{$max-screen-width} + 40px);
    width: calc(#{$medium-and-up-inner-width} + 40px);
  }
}
