@import "globals.scss";

.home__wrapper {
  padding-top: 56.25%;
  position: relative;

  @media #{$large-and-up} {
    padding-top: 582px;
  }
}

.home__title {
  color: $color-white;
  cursor: default;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin-top: 22%;
  position: absolute;
  text-shadow: 4px 4px 2px $color-quiet-black-opacity;
  top: 0;
  width: 100%;

  @media #{$small-and-down} {
    font-size: 35px;
    font-size: 11vw;
  }

  @media #{$medium-and-up} {
    font-size: 65px;
    font-size: 10vw;
  }

  @media #{$large-and-up} {
    margin-top: 230px;
    font-size: 120px;
  }
}

.home__section {
  background-color: $color-white;
  padding-top: 30px;

  @media #{$medium-and-up} {
    padding-top: 40px;
  }

  @media #{$large-and-up} {
    padding-top: 50px;
  }
}

.home__section__inner {
  @include default-wrapper-width();

  h2 {
    font-weight: bold;
    margin-bottom: 20px;

    @media #{$medium-and-up} {
      margin-bottom: 30px;
    }

    @media #{$large-and-up} {
      margin-bottom: 40px;
    }
  }
}

.home__grid {
  background-color: $color-white;

  hr {
    border: 0;
    border-top: 1px solid $color-quiet-black;
    display: block;
    height: 2px;
    padding: 0;
  }
}

.home__grid__inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-screen-width;
}
