.Home {
  text-align: center;
}

.HomeLogo {
  animation: Home-logo-spin infinite 20s linear;
  height: 80px;
}

.HomeHeader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.HomeTitle {
  font-weight: bold;
}

.HomeIntro {
  font-size: large;
}

@keyframes Home-logo-spin  {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
