@import 'globals.scss';

.ta {
  cursor: cell;
  position: relative;

  &:hover .ta__tags {
    display: flex;
  }
}

.ta__tag {
  background-color: $color-black;
  display: flex;
  margin-bottom: 5px;
  padding: 5px;
}
