@import 'globals.scss';

.ta {
  cursor: cell;
  position: relative;

  &:hover .ta__tags {
    display: flex;
  }
}

.ta__tag {
  display: flex;
  margin-bottom: 5px;
  padding: 5px;
}

.ta__tag__icon {
  height: 15px;
  width: 15px;

  @media #{$medium-and-up} {
    height: 17px;
    width: 17px;
  }
}

.ta__tag--placeholder {
  animation: flash 1s ease infinite;
}
