@import "globals.scss";

.LayoutContainer {
  @include default-wrapper-width();
  padding: 100px 0 20px;

  @media #{$medium-and-up} {
    padding: 120px 0 40px;
  }

  @media #{$large-and-up} {
    padding-top: 130px;
  }
}
