@import "globals.scss";

.cb__img {
  margin-bottom: 15px;

  &.cb__img--large {
    @media #{$small-and-down} {
      display: none;
    }
  }

  &.cb__img--small {
    @media #{$medium-and-up} {
      display: none;
    }
  }
}

.cb__img-title {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,$color-black-opacity 100%);
  box-sizing: border-box;
  color: $color-white;
  bottom: 0;
  left: 0;
  padding: 80px 20px 20px 20px;
  position: absolute;
  width: 100%;
}

.cb__title, .cb__text {
  color: $color-black;
  display: block;
}

.cb__title {
  @media #{$medium-and-up} {
    display: none;
  }
}

.cb__title-placeholder {
  background-color: $color-grey;
  height: 21px;
  width: 50%;

  @media #{$medium-and-up} {
    display: none;
  }
}

.cb__text {
  overflow: hidden;
  text-overflow: ellipsis;
	white-space: nowrap;

  @media #{$small-and-down} {
    display: none;
  }
}

.cb__text-placeholder {
  background-color: $color-grey;
  height: 18px;
  width: 95%;

  @media #{$small-and-down} {
    display: none;
  }
}

.cb__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;

  @media #{$small-and-down} {
    & > :nth-child(n+4) {
      display: none;
    }
  }
}
