@import "globals.scss";

.cb {
  text-transform: lowercase;
}

%cb__img {
  @include cloudcast-image(".cb__play-button", ".cb__img-playing");
  background-size: cover;
  background-position: center;
  padding-top: 56%;

  @media #{$large-and-up} {
    padding-top: 450px;
  }
}

.cb__img-small {
  @extend %cb__img;
  @media #{$medium-and-up} {
    display: none;
  }
}

.cb__img-big {
  @extend %cb__img;
  @media #{$small-and-down} {
    display: none;
  }
}

.cb__img-title {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,$color-quiet-black-opacity 100%);
  box-sizing: border-box;
  color: $color-white;
  bottom: 0;
  left: 0;
  padding: 80px 10px 10px 10px;
  position: absolute;
  width: 100%;

  @media #{$small-and-down} {
    display: none;
  }

  @media #{$medium-and-up} {
    padding: 80px 20px 20px 20px;
  }
}

.cb__play-button {
  @include transitions(all);
  left: 50%;
  max-width: 350px;
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;

  @media #{$medium-and-up} {
    width: 33%;
  }
}

.cb__title, .cb__text {
  color: $color-quiet-black;
  display: block;
}

.cb__title {
  @media #{$medium-and-up} {
    display: none;
  }
}

.cb__title-placeholder {
  background-color: $color-grey;
  height: 21px;
  width: 50%;

  @media #{$medium-and-up} {
    display: none;
  }
}

.cb__text {
  overflow: hidden;
  text-overflow: ellipsis;
	white-space: nowrap;

  @media #{$small-and-down} {
    display: none;
  }
}

.cb__text-placeholder {
  background-color: $color-grey;
  height: 18px;
  width: 95%;

  @media #{$small-and-down} {
    display: none;
  }
}

.cb__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;

  @media #{$small-and-down} {
    & > :nth-child(n+4) {
      display: none;
    }
  }
}
