@import "globals.scss";

.CloudcastHome {
  flex: 1 0 200px;
  margin: 0 10px 20px;

  @media #{$medium-and-up} {
    flex: 1 0 270px;
    margin: 0 12px 20px;
  }

  @media #{$large-and-up} {
    margin: 0 20px 20px;
  }
}

.CloudcastHomeImg {
  width: 100%;
}
