@import "globals.scss";

%ch {
  @media #{$small-and-down} {
    align-items: start;
    display: flex;
    margin: 0 10px 30px;
    width: 100%;
  }

  @media #{$medium-and-up} {
    flex: 1 0 235px;
    margin: 0 12px 30px;
  }

  @media #{$large-and-up} {
    flex-basis: 270px;
    margin: 0 20px 30px;
  }
}

.ch {
  @extend %ch;
  text-transform: lowercase;
}

.ch__placebo {
  @extend %ch;

  margin-bottom: 0;
}

.ch__placeholder {
  width: 100%;
}

.ch__img {
  @include cloudcast-image(".ch__play-button", ".ch__img-playing");
  padding-top: 100%;

  @media #{$small-and-down} {
    width: 85px;
    margin-bottom: 0;
    margin-right: 15px;
    padding-top: 85px;
  }
}

.ch__play-button {
  @include transitions(all);
  left: 50%;
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.ch__details {
  @media #{$small-and-down} {
    flex: 1 1 65%;
  }
}

.ch__text {
  color: $color-quiet-black;
}

.ch__text-placeholder {
  background-color: $color-grey;
  height: 18px;
  width: 95%;

  @media #{$small-and-down} {
    width: 50%;
  }
}

.ch__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  @media #{$medium-and-up} {
    & > :nth-child(n+3) {
      display: none;
    }
  }

  @media #{$small-and-down} {
    & > :not(:first-child) {
      display: none;
    }
  }
}
