@import "globals.scss";

%CloudcastHome {
  flex: 1 0 200px;
  margin: 0 10px 20px;

  @media #{$medium-and-up} {
    flex-basis: 235px;
    margin: 0 12px 20px;
  }

  @media #{$large-and-up} {
    flex-basis: 270px;
    margin: 0 20px 20px;
  }
}

.CloudcastHome {
  @extend %CloudcastHome;
}

.CloudcastHomePlacebo {
  @extend %CloudcastHome;

  margin-bottom: 0;
}

.CloudcastHomePlaceholder {
  width: 100%;
}

.CloudcastHomeImg {
  background-color: $color-grey;
  cursor: pointer;
  margin-bottom: 15px;
  padding-top: 100%;
  position: relative;
  width: 100%;

  &:after {
    @include transitions(all);
    content: '';
    background: $color-quiet-black-opacity;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:focus:after,
  &:hover:after
  {
    opacity: 1;
    z-index: 1;
  }

  &:focus .CloudcastHomePlayButton,
  &:hover .CloudcastHomePlayButton
  {
    opacity: 1;
    z-index: 2;
  }
}

.CloudcastHomeImg.CloudcastHomeImgPlaying {
  &:after {
    opacity: 1;
    z-index: 1;
  }

  .CloudcastHomePlayButton {
    opacity: 1;
    z-index: 2;
  }
}

.CloudcastHomePlayButton {
  @include transitions(all);
  left: 50%;
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.CloudcastHomeText {
  color: $color-quiet-black;
  text-transform: lowercase;
}

.CloudcastHomeTextPlaceholder {
  background-color: $color-grey;
  height: 18px;
  width: 95%;
}
