@import "globals.scss";

.search {
  position: relative;
}

.search__icon {
  @include slow-transitions(left);
  cursor: text;
  height: 20px;
  left: calc(100% - 20px);
  position: absolute;
  top: 10px;
  width: 20px;
}

.search__input {
  @include transitions(border-color);
  background-color: transparent;
  border: 2px solid $color-black;
  box-sizing: border-box;
  color: $color-white;
  padding: 8px 8px 8px 37px;
  width: 100%;
}

.search--focused {
  .search__icon {
    left: 10px;
  }

  .search__input {
    border-color: $color-white;
  }
}
