@import "globals.scss";

.Header {
  @include transitions(height);
  background-color: $color-quiet-black;
  border-bottom: 5px solid $color-white;
  color: $color-white;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  a {
    color: $color-white;
  }

  @media #{$medium-and-up} {
    height: 100px;
  }
}

.HeaderInner {
  @include transitions(height);
  @include default-wrapper-width();
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 80px;

  @media #{$medium-and-up} {
    height: 100px;
  }
}

.HeaderPlaceholder {
  display: none;
  font-size: 28px;
  font-weight: bold;

  @media #{$medium-and-up} {
    width: 200px;
    display: block;
  }

  @media #{$large-and-up} {
    width: 230px;
  }
}

.HeaderMenu {
  display: flex;
  justify-content: space-between;
  width: 180px;

  @media #{$medium-and-up} {
    width: 200px;
  }

  @media #{$large-and-up} {
    width: 230px;
  }
}

.HeaderLogo {
  @include transitions(all);
  filter: grayscale(100%);
  height: 80px;
  width: 80px;

  @media #{$medium-and-up} {
    height: 100px;
    width: 100px;
  }
}
