@import "globals.scss";

.sm {
  @include transitions(opacity);
  background-color: $color-white-opacity;
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: $height-header-small;

  @media #{$medium-and-up} {
    top: $height-header-big;
  }

  &.sm--visible {
    opacity: 1;
    z-index: 20;

    .sm__inner {
      display: block;
    }
  }

  &.sm--has-player {
    padding-bottom: 60px;
  }
}

.sm__inner {
  @include default-wrapper-width();
  display: none;

  h2 {
    text-align: center;
  }
}

.sm__results {
  @media #{$large-and-up} {
    display: flex;
    justify-content: space-between;
  }
}

.sm__results__in {
  @media #{$large-and-up} {
    width: 49%;
  }
}

.sm__results__delimiter {
  border: 0;
  border-top: 1px solid $color-black;
  display: block;
  height: 2px;
  margin-top: 30px;
  padding: 0;
  padding-bottom: 23px;

  @media #{$large-and-up} {
    border: 0;
    border-left: 1px solid $color-black;
    height: auto;
    width: 2px;
  }
}
