@import "globals.scss";

.sm {
  @include transitions(opacity);
  background-color: $color-white-opacity;
  opacity: 0;

  &.sm--visible {
    bottom: 0;
    left: 0;
    opacity: 1;
    overflow: auto;
    position: fixed;
    right: 0;
    top: $height-header-small;
    z-index: 20;

    @media #{$medium-and-up} {
      top: $height-header-big;
    }

    .sm__inner {
      display: block;
    }
  }
}

.sm__inner {
  @include default-wrapper-width();
  display: none;

  h2 {
    text-align: center;
  }
}

.sm__results {
  @media #{$large-and-up} {
    display: flex;
    justify-content: space-between;
  }
}

.sm__results__in {
  @media #{$large-and-up} {
    width: 49%;
  }
}

.sm__results__delimiter {
  @media #{$large-and-up} {
    display: block;
  }
}
