@import "globals.scss";

.footer {
  background-color: $color-black;
  bottom: 0;
  color: $color-white;
  height: $height-footer;
  position: absolute;
  width: 100%;

  a {
    color: $color-white;
  }
}

.footer__inner {
  @include default-wrapper-width();
  padding-top: 20px;
}

.footer__inner__top-line {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer__icons {
  display: flex;
  align-items: center;

  a {
    margin-right: 10px;

    @media #{$medium-and-up} {
      margin-right: 20px;
    }
  }
}

.footer__links {
  a:first-of-type {
    margin-right: 10px;

    @media #{$medium-and-up} {
      margin-right: 20px;
    }
  }
}

.footer__text {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-size: x-small;
}

.footer__text__flavio {
  align-items: center;
  display: flex;

  svg {
    margin: 0 3px;
  }

  a {
    margin-left: 3px;
  }
}
