@import "globals.scss";

.msg {
  display: flex;
}

.msg__texts {
  margin-top: 3px;
}

.msg__text--bold {
  font-weight: bold;
}

.msg__text--bottom {
  margin-top: 10px;
}

.msg__text--top {
  margin-bottom: 10px;
}
