$base-font-family: "Comfortaa", "Open Sans";

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 1051px !default;
// $large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 1050px !default;
// $large-screen: 1200px !default;

$small-screen-inner-width: 95%;
$medium-and-up-inner-width: 90%;
$max-screen-width: 1240px;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

$color-black: #0f1121;
$color-black-opacity: rgba(15, 17, 33, 0.5);
$color-white: #fcfcfc;
$color-white-opacity: rgba(252, 252, 252, 0.95);
$color-grey: #c4c4c4;

$height-header-small: 85px;
$height-header-big: 105px;

@mixin default-wrapper-width($maxwidth: $max-screen-width) {
  margin-left: auto;
  margin-right: auto;
  max-width: $maxwidth;
  width: $small-screen-inner-width;

  @media #{$medium-and-up} {
      width: $medium-and-up-inner-width;
  }
}

@mixin transitions($property, $timing-function: ease) {
    transition: $property .4s $timing-function;
}

@mixin slow-transitions($property, $timing-function: ease) {
    transition: $property 1s $timing-function;
}

@mixin cloudcast-image($play-button-class, $is-playing-class) {
  background-color: $color-grey;
  cursor: pointer;
  position: relative;
  width: 100%;

  &:after {
    @include transitions(all);
    content: '';
    background: $color-black-opacity;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @media #{$small-and-down} {
    &:after {
      opacity: 1;
      z-index: 1;
    }

    #{$play-button-class} {
      opacity: 1;
      z-index: 2;
    }
  }

  &:focus:after,
  &:hover:after
  {
    opacity: 1;
    z-index: 1;
  }

  &:focus #{$play-button-class},
  &:hover #{$play-button-class}
  {
    opacity: 1;
    z-index: 2;
  }

  &#{$is-playing-class} {
    &:after {
      opacity: 1;
      z-index: 1;
    }

    #{$play-button-class} {
      opacity: 1;
      z-index: 2;
    }
  }
}
