@charset "utf-8";
@import "globals.scss";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, select, input, textarea, button,
th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body, .toast {
  background-color: $color-white;
  color: $color-black;
  font-family: $base-font-family;
  text-transform: lowercase;

  font-size: 15px;

  @media #{$medium-and-up} {
    font-size: 17px;
  }
}

.toast-container, .toast, .toast--error {
  @media #{$medium-and-up} {
    width: 500px;
  }
}

.toast {
  border: 2px solid $color-black;
  fill: $color-black;
  padding: 12px 12px 12px 12px;

  .toast-progressbar {
    background-color: $color-black;
  }
}

.toast--error {
  background-color: $color-black;
  border: 2px solid $color-white;
  color: $color-white;
  fill: $color-white;
  padding: 12px 12px 12px 12px;

  .toast-progressbar {
    background-color: $color-white;
  }
}

.toast-progressbar {
  height: 3px;
}

section {
  background-color: $color-white;
  padding-top: 30px;

  @media #{$medium-and-up} {
    padding-top: 40px;
  }

  @media #{$large-and-up} {
    padding-top: 50px;
  }

  &.last {
    padding-bottom: 30px;

    @media #{$medium-and-up} {
      padding-bottom: 40px;
    }

    @media #{$large-and-up} {
      padding-bottom: 50px;
    }
  }

  &.no-background {
    background-color: transparent;
  }
}

p {
  line-height: 1.4;
  margin-bottom: 15px;

  @media #{$medium-and-up} {
    margin-bottom: 25px;
  }

  @media #{$large-and-up} {
    margin-bottom: 35px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: $color-black;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

h2.font--extra-large {
  font-weight: bold;
  font-size: 28px;
}

h2, .font--large {
  font-weight: bold;
  font-size: 23px;

  @media #{$medium-and-up} {
    font-size: 25px;
  }
}

h3, .font--medium {
  font-weight: bold;
  font-size: 18px;

  @media #{$medium-and-up} {
    font-size: 20px;
  }
}

.font--small {
  font-size: 12px;

  @media #{$medium-and-up} {
    font-size: 15px;
  }
}

.title-margin {
  margin-bottom: 20px;

  @media #{$medium-and-up} {
    margin-bottom: 30px;
  }

  @media #{$large-and-up} {
    margin-bottom: 40px;
  }
}

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

input[type="text"],
input[type="name"],
input[type="email"],
textarea {
  @include transitions(border);
  background-color: $color-white;
  border: 2px solid $color-black-opacity;
  box-sizing: border-box;
  padding: 8px 15px;

  &:focus {
    border-color: $color-black;
  }

  &::placeholder {
    color: $color-black-opacity;
  }
}

button {
  cursor: pointer;
  padding: 8px 15px;

  @media #{$small-and-down} {
    width: 100%;
  }
}

button, .button-style {
  @include transitions(all);
  background-color: $color-black;
  border: 2px solid $color-black;
  color: $color-white;
  fill: $color-white;

  @media #{$medium-and-up} {
    &:hover,
    &:focus {
      background-color: $color-white;
      color: $color-black;
      fill: $color-black;
    }
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.80;
  }
  100% {
    opacity: 1;
  }
}

@keyframes vinylRotationRunning {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
