/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, select, input, textarea, button,
th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  background-color: #fcfcfc;
  color: #0f1121;
  font-family: "Comfortaa", "Open Sans";
  font-size: 15px; }
  @media only screen and (min-width: 601px) {
    body {
      font-size: 17px; } }

@media only screen and (min-width: 601px) {
  a {
    text-decoration: none; } }

a:hover {
  text-decoration: underline; }

h2, .font--large {
  font-size: 23px; }
  @media only screen and (min-width: 601px) {
    h2, .font--large {
      font-size: 25px; } }

h3, .font--medium {
  font-size: 18px; }
  @media only screen and (min-width: 601px) {
    h3, .font--medium {
      font-size: 20px; } }
