/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, select, input, textarea, button,
th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  background-color: #F4F9FF;
  color: #0f1121;
  font-family: "Comfortaa", cursive; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
