@charset "utf-8";
@import "globals.scss";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, select, input, textarea, button,
th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  background-color: $color-white;
  color: $color-quiet-black;
  font-family: $base-font-family;

  font-size: 15px;

  @media #{$medium-and-up} {
    font-size: 17px;
  }
}

section {
  padding-top: 30px;

  @media #{$medium-and-up} {
    padding-top: 40px;
  }

  @media #{$large-and-up} {
    padding-top: 50px;
  }

  &.last {
    padding-bottom: 30px;

    @media #{$medium-and-up} {
      padding-bottom: 40px;
    }

    @media #{$large-and-up} {
      padding-bottom: 50px;
    }
  }
}

a {
    @media #{$medium-and-up} {
        text-decoration: none;
    }

  &:hover {
    text-decoration: underline;
  }
}

h2, .font--large {
  font-weight: bold;
  font-size: 23px;

  @media #{$medium-and-up} {
    font-size: 25px;
  }
}

h3, .font--medium {
  font-weight: bold;
  font-size: 18px;

  @media #{$medium-and-up} {
    font-size: 20px;
  }
}

.font--small {
  font-size: 12px;

  @media #{$medium-and-up} {
    font-size: 15px;
  }
}

.title-margin {
  margin-bottom: 20px;

  @media #{$medium-and-up} {
    margin-bottom: 30px;
  }

  @media #{$large-and-up} {
    margin-bottom: 40px;
  }
}
