@charset "utf-8";
@import "globals.scss";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, select, input, textarea, button,
th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  background-color: $color-white;
  color: $color-quiet-black;
  font-family: $base-font-family;

  font-size: 15px;

  @media #{$medium-and-up} {
    font-size: 17px;
  }
}

a {
    @media #{$medium-and-up} {
        text-decoration: none;
    }

  &:hover {
    text-decoration: underline;
  }
}

h2, .font--large {
  font-size: 23px;

  @media #{$medium-and-up} {
    font-size: 25px;
  }
}

h3, .font--medium {
  font-size: 18px;

  @media #{$medium-and-up} {
    font-size: 20px;
  }
}
