/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, select, input, textarea, button,
th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  background-color: #fcfcfc;
  color: #0f1121;
  font-family: "Comfortaa", "Open Sans";
  text-transform: lowercase;
  font-size: 15px; }
  @media only screen and (min-width: 601px) {
    body {
      font-size: 17px; } }

section {
  padding-top: 30px; }
  @media only screen and (min-width: 601px) {
    section {
      padding-top: 40px; } }
  @media only screen and (min-width: 1051px) {
    section {
      padding-top: 50px; } }
  section.last {
    padding-bottom: 30px; }
    @media only screen and (min-width: 601px) {
      section.last {
        padding-bottom: 40px; } }
    @media only screen and (min-width: 1051px) {
      section.last {
        padding-bottom: 50px; } }

@media only screen and (min-width: 601px) {
  a {
    text-decoration: none; } }

a:hover {
  text-decoration: underline; }

h2, .font--large {
  font-weight: bold;
  font-size: 23px; }
  @media only screen and (min-width: 601px) {
    h2, .font--large {
      font-size: 25px; } }

h3, .font--medium {
  font-weight: bold;
  font-size: 18px; }
  @media only screen and (min-width: 601px) {
    h3, .font--medium {
      font-size: 20px; } }

.font--small {
  font-size: 12px; }
  @media only screen and (min-width: 601px) {
    .font--small {
      font-size: 15px; } }

.title-margin {
  margin-bottom: 20px; }
  @media only screen and (min-width: 601px) {
    .title-margin {
      margin-bottom: 30px; } }
  @media only screen and (min-width: 1051px) {
    .title-margin {
      margin-bottom: 40px; } }
