@import "globals.scss";

.cd__top {
  @include default-wrapper-width();
  display: flex;
  justify-content: space-between;

  &.cd__top--large {
    .cd__top__img {
      height: 33%;
      width: 33%;
    }

    @media #{$small-and-down} {
      display: none;
    }
  }

  &.cd__top--small {
    align-items: center;
    flex-direction: column;

    @media #{$medium-and-up} {
      display: none;
    }
  }
}

.cd__top__img {
  max-width: 320px;
  width: 100%;
}

.cd__top__wrapper {
  align-items: center;
  display: flex;

  @media #{$medium-and-up} {
    width: 62%;
  }
}

.cd__top__left__title {
  align-items: center;
  display: flex;
}

.cd__top__title {
  margin-top: 20px;
}

.cd__top__left__play-pause {
  margin-right: 20px;
  min-height: 90px;
  min-width: 90px;
  height: 90px;
  width: 90px;

  @media #{$large-and-up} {
    margin-right: 30px;
  }
}

.cd__top__tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;

  @media #{$medium-and-up} {
    justify-content: flex-start;
    margin-left: 110px;
  }

  @media #{$large-and-up} {
    margin-left: 120px;
  }
}

.cd__bottom {
  @include default-wrapper-width();
}

.cd__bottom__text {
  white-space: pre-line;
}
