@import "globals.scss";

.video__wrapper {
  background-color: $color-black;
  position: fixed;
  width: 100%;
  z-index: -10;
}

%video {
  object-fit: cover;
  width: 100%;
}

.video__small {
  @extend %video;
  display: none;

  @media #{$small-and-down} {
    display: block;
  }
}

.video__medium {
  @extend %video;
  display: none;

  @media #{$medium-only} {
    display: block;
  }
}

.video__large {
  @extend %video;
  display: none;
  height: 582px;

  @media #{$large-and-up} {
    display: block;
  }
}
